[submodule "sketchbook-express-backend"]
	path = sketchbook-express-backend
	url = https://github.com/3ichael7ambert/sketchbook-express-backend
[submodule "sketchbook-react-backend"]
	path = sketchbook-react-frontend
	url = https://github.com/3ichael7ambert/sketchbook-react-frontend